body 
{
  background: linear-gradient(to right, #cc99ff 0%, #66ccff 100%);
}

.jumbotron
{
	height:150px;
	width:450px;
	padding:0;
	margin:20px auto;
	border-radius: 50px;
}
.heading
{
	text-align: center;
	padding-top:30px;
}
.textbelowheading
{
	text-align: center;
}

.loginbar
{

	width:450px;
	margin:25px auto;
    box-shadow: 10px 10px 8px #888888;
	border-radius: 50px;
	padding: 40px;
}
.colorofloginbar
{
	background: linear-gradient(to left, #cc99ff 0%, #66ccff 100%);
}

input
{
	width:150px;
}

.buttonwid
{
	width:100px;
}

.topbar
{
	width:450px;
	margin:50px auto;
    box-shadow: 10px 10px 8px #888888;
	border-radius: 50px;
	padding: 40px;
	background: linear-gradient(to left, #cc99ff 0%, #66ccff 100%);
}

.fadetext
{
	opacity:50%;
}
